{% extends "base.html" %}

{% block content %}
<div class="w-full flex justify-center">
    <div class="max-w-screen-lg text-lg hyphens-auto">
        <p lang="en">
            Primary Email:             
            <a class="" href="mailto:austinweis@protonmail.com">
                austin@austinweis.com
            </a>
        </p>
        <p lang="en">
            Secondary Email:             
            <a class="" href="mailto:austinweis@protonmail.com">
                austinweis@protonmail.com
            </a>
        </p>
    </div>
</div>
{% endblock %}