{% extends "base.html" %}

{% block content %}
<div class="w-full">
    <div class="mx-auto text-lg hyphens-auto text-center">
        <p lang="en">
            Primary Email:             
            <a class="" href="mailto:austinweis@protonmail.com">
                email@website.com
            </a>
        </p>
        <p lang="en">
            Secondary Email:             
            <a class="" href="mailto:austinweis@protonmail.com">
                email2@website.com
            </a>
        </p>
    </div>
</div>
{% endblock %}