{% extends "base.html" %}

{% block content %}
<section class="w-full">
<form action="{{ url_for('admin.login') }}" method="POST" class="flex items-center flex-col p-4">
    <label for="pfield">Password:</label>
    <input id="pfield" type="password" name="password" class="my-4 w-80 bg-neutral-800 ring-1 ring-neutral-500 shadow-lg p-2 text-neutral-100 rounded-lg focus:outline focus:outline-2 focus:outline-indigo-500">
    <input class="btn-primary" type="submit" value="Submit">
</form>
</section>
{% endblock %}